#aboutSection {
    background-color: black;
    height: 100vh;
}

#aboutDiv {
    color: white;
    text-align: center;
    margin-top: 36vh;
    /*
        border looks weird, looks like it not expand
        out like the introductionWords

    border: 3px solid grey;
    */
    padding: 24px;
    display: flex;
    justify-content: center;
}

#aboutParagraph {
    font-size: 18px;
    text-align: center;
}
