/* Naviagation bar stylesheet */

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.navigationLinks {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    margin-left: 150px;

    font-size: 14px;
}

.navigationLink {
    color: white;
    text-decoration: none;
    margin-left: 2.5vh;
}

#introductionSection {
    background-color: black;
    height: 100%;
}

#introductionDiv {
    display: flex;
    justify-content: center;
}

#introductionDiv h1 {
    color: white;
    text-align: center;
    margin-top: 35vh;
    padding: 24px;
    border: 3px solid grey;
}
