/* Naviagation bar stylesheet */

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.navigationLinks {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    margin-left: 25vw;

    font-size: 16px;
}

.navigationLink {
    color: white;
    text-decoration: none;
    margin-left: 2.5vh;
}
