/* Naviagation bar stylesheet */

.navigationHeader {
    display: flex;
    justify-content: center;
}

.navigationBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
}

.logo {
    margin-left: 10px;
    position: relative;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.navigationLinks {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    margin-left: 50px;

    font-size: 16px;
}

.navigationLink {
    color: white;
    text-decoration: none;
    margin-left: 2.5vh;
}
